/* Global Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-sales: #ff0000;
  --color-visitors: #00ff00;
  --color-line1: #0000ff;
  --color-line2: #ff00ff;
  --color-line3: #00ffff;
  --chart-1: 0, 100%, 50%;
  --chart-2: 120, 100%, 50%;
  --chart-3: 240, 100%, 50%;
}
/* Custom global styles */


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .animate-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}